// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
article {
  font-size: 18px;

  .entry-content{
    p {
      margin-top: 1em;
    }
  }
}

body {
  color: #2c2c2c;
}